
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" style="height: 130px;">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/slider3.png" alt="First slide">
      <div class="" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive"></h3>
      <p></p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/slider2.png" alt="Second slide">
      <div class="" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive"></h3>
      <p></p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/sliderr.png" alt="Third slide">
      <div class="" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive"></h3>
      <p></p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<br>
<br>
<br>
<br>

<div class="container-fluid" >
	<div class="container">

		<div class="row">
			<div class="col-lg-4">

<div class="view overlay zoom">
   <img src="assets/1C496A56-9FB6-9160-E60D-EA656E108EBE.jpg.png" class="img-fluid " alt="zoom">
  <div class="mask flex-center waves-effect waves-light">
    <p class="white-text"><a [routerLink]="['/accessories/123']" routerLinkActive="active"><i class="fa fa-eye" aria-hidden="true" style="color:#ffffff;"></i></a></p>
  </div>
</div>
			</div>

			<div class="col-lg-4">
				<div class="view overlay zoom">
  <img src="assets/9E5B1570-527D-AE36-84FB-766F891C9CB2.jpg" class="img-fluid " alt="zoom">
  <div class="mask flex-center waves-effect waves-light">
    <p class="white-text"><a [routerLink]="['/accessories/12453']" routerLinkActive="active"><i class="fa fa-eye" aria-hidden="true" style="color:#ffffff;"></i></a></p>
  </div>
</div>
			

				
			</div>

			<div class="col-lg-4">

				<div class="view overlay zoom">
  <img src="assets/F82467C7-F9DD-F4F1-97A3-198473432900.jpg.png" class="img-fluid " alt="zoom">
  <div class="mask flex-center waves-effect waves-light">
    <p class="white-text"><a [routerLink]="['/accessories/12453']" routerLinkActive="active"><i class="fa fa-eye" aria-hidden="true" style="color:#ffffff;"></i></a></p>
  </div>
</div>

				

				
			</div>
		</div>
	</div>

</div>





<div class="container" >

<!-- Section: Products v.3 -->
<section class="text-center my-5">




  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">
Hot accessories
</h2>
  <!-- Section description -->
  <p class="grey-text text-center w-responsive mx-auto mb-5"> </p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
      <!-- Card -->
      <div class="card align-items-center">
        <!-- Card image -->
        <div class="view overlay">
          <img src="https://i01.appmifile.com/webfile/globalimg/in/cms/94A35B43-BEB6-EBC7-6622-6C0D06FBEF4A.jpg" class="card-img-top"
            alt="">
           <a [routerLink]="['/item/123']" routerLinkActive="active"> 
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->
        <!-- Card content -->
        <div class="card-body text-center">
          <!-- Category & Title -->
          <a href="" class="grey-text">
            <h5>SMART DEVICES</h5>
          </a>
          <h5>
            <strong>
              <a [routerLink]="['/item/123']" routerLinkActive="active">  MI BRAND 3
                <span class="badge badge-pill danger-color">NEW</span>
              </a>
            </strong>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>1999 INR</strong>
          </h4>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
      <!-- Card -->
      <div class="card align-items-center">
        <!-- Card image -->
        <div class="view overlay">
          <img src="https://i01.appmifile.com/webfile/globalimg/in/cms/E2F969F7-6C7F-51FF-F6C7-BCB132ED7F49.jpg" class="card-img-top"
            alt="">
           <a [routerLink]="['/item/123']" routerLinkActive="active"> 
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->
        <!-- Card content -->
        <div class="card-body text-center">
          <!-- Category & Title -->
          <a href="" class="grey-text">
            <h5>Mobile Acessories</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Cases & Covers</a>
            </strong>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>2333 INR</strong>
          </h4>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
      <!-- Card -->
      <div class="card align-items-center">
        <!-- Card image -->
        <div class="view overlay">
          <img src="https://i01.appmifile.com/webfile/globalimg/in/cms/7B4E60EB-F957-EF4D-2C0B-E1786BADD22E.jpg" class="card-img-top"
            alt="">
           <a [routerLink]="['/item/123']" routerLinkActive="active"> 
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->
        <!-- Card content -->
        <div class="card-body text-center">
          <!-- Category & Title -->
          <a href="" class="grey-text">
            <h5>SMART DEVICES</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">SPECKERS
                <span class="badge badge-pill primary-color">BEST</span>
              </a>
            </strong>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>9923 INR</strong>
          </h4>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <!-- Card -->
      <div class="card align-items-center">
        <!-- Card image -->
        <div class="view overlay">
          <img src="https://i01.appmifile.com/webfile/globalimg/in/cms/9CE86F1C-3B9F-9C54-2456-EB1B5FB0D0B2.jpg" class="card-img-top"
            alt="">
           <a [routerLink]="['/item/123']" routerLinkActive="active"> 
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->
        <!-- Card content -->
        <div class="card-body text-center">
          <!-- Category & Title -->
          <a href="" class="grey-text">
            <h5>SMART DEVICES</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Home Security Camera</a>
            </strong>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>2193 INR</strong>
          </h4>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Products v.3 -->

</div> 

