/* You can add global styles to this file, and also import other style files */

.navbar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    font-weight: 300;
    background-color:#f5f5f5;;
}

.entry-board, .mini-header {
    height: 40px;
    line-height: 40px;
    background-color: #212121;
    z-index: 200;
    position: relative;
    min-width: 1226px;
}

.entry-board .external-entries, .mini-header .external-entries {
    float: left;
}
a, h1, h2, h3, h4, h5, h6, li, p, ul {
    margin: 0;
    padding: 0;
}

.entry-board .mini-cart-entry, .mini-header .mini-cart-entry {
    float: right;
    width: 120px;
    margin: 0;
    transition: all 0s .2s ease;
    text-align: center;
}

.entry-board .external-entries, .mini-header .external-entries {
    float: left;
}

.entry-board .external-entries .entry:first-child, .mini-header .external-entries .entry:first-child {
    margin-left: 0;
    text-decoration:none;
}
.entry-board .external-entries .entry, .mini-header .external-entries .entry {
    float: left;
    text-decoration:none;
}
.entry {
    position: relative;
    margin: 0 20px 0 21px;
    margin-left: 21px;
    font-size: 12px;
    text-transform: uppercase;
    color: #b0b0b0;font-size: 12px;
    text-transform: uppercase;
    text-decoration:none;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #2c0b0b;
    transition: 0.35s;
}

.footer-service-policies {
    background-color: #fff;
    padding: 20px 0 24px;
}

.footer_back-gra{
	background-color: #f5f5f5;
}

.span4 {
    width: 234px;
}
.span1, .span10, .span11, .span12, .span13, .span14, .span15, .span16, .span17, .span18, .span19, .span2, .span20, .span3, .span4, .span5, .span6, .span7, .span8, .span9 {
    float: left;
    margin-left: 14px;
    min-height: 1px;
}

.service-policy a strong {
    font-weight: 600;
    color: #424242;
}
.service-policy a {
    display: block;
    color: #b0b0b0;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding-left: 80px;
    white-space: nowrap;
}

.product-info-main .product-info-price {
    color: #575757;
    border-bottom: 1px solid #c1c1c1;
    display: table;
    margin-bottom: 15px;
    width: 100%;
}

.product-info-main .product-info-price .price-box {
    display: table-cell;
    vertical-align: top;
    width: 1px;
}
.product-options-bottom .price-box, .product-info-price .price-box {
    color: #575757;
    display: table-cell;
    padding-bottom: 10px;
    vertical-align: top;
}

.product-info-main .product-info-stock-sku {
    display: table-cell;
    padding-bottom: 10px;
    padding-left: 10%;
    text-align: right;
    vertical-align: top;
}
.product-info-main .product-info-price {
    color: #575757;
}

.product-info-main .stock.available, .product-info-main .stock.unavailable {
    font-weight: 700;
    text-transform: uppercase;
}
.product-info-main .stock {
    margin: 0 0 3px;
}
.product-info-main .product-info-stock-sku {
    text-align: right;
}

.box-tocart {
    margin: 0 0 30px;
}

.fieldset {
    border: 0;
    margin: 0 0 40px;
        margin-bottom: 40px;
    padding: 0;
    letter-spacing: -.31em;
}

.fieldset > .field > .label, .fieldset > .fields > .field > .label {
    font-weight: 600;
}

.column .block-addbysku .qty .qty, .bundle-options-container .input-text.qty, .box-tocart .input-text.qty, .account .data.table-return-items .qty .input-text, .table-giftregistry-items .field.qty .qty, .block-giftregistry-shared-items .qty .qty, .table.grouped .col.qty .control.qty .qty, .block-wishlist-info-items .input-text.qty, .multicheckout .table-wrapper .col .qty .input-text, .account .table-wrapper .data.table.wishlist .box-tocart .qty, .products-grid.wishlist .product-item .box-tocart input.qty, .sidebar .block-addbysku .fieldset .fields .field.qty .qty {
    text-align: center;
    width: 54px;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
    background: #ffffff;
        background-clip: border-box;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}
.fieldset > * {
    letter-spacing: normal;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        background-size: auto;
    background-size: 100% 100%;
    background-color: #df2e31;
}

