<div class="container-fluid entry-board">
<div class="container">

  <div class="row">

<div class="entry-board">

  <ul class="external-entries">
    <li class="entry ">STORE INDIA </li>
      <li class="entry ">STORE COMMUNITY </li>
        <li class="entry ">GET STORE APP </li>
          <li class="entry ">ONLINE HELP</li>
            <li class="entry ">RETAIL STORE</li>
  </ul>

  </div>

</div>




</div>
</div>
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" style="background-color: red;"  [containerInside]="true" >

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" width="50x50"></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>

        <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>  Mi Phones</a>
      </li>

       <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>  Redmi Phones</a>
      </li>

       <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>  POCO</a>
      </li>

       <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect> Fitness</a>
      </li>

       <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>  Smart Home</a>
      </li>

       <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>  Accessories</a>
      </li>

    














      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Our Products</a>
      </li>
   

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Category<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Mens</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Womens</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Kids</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">All</a>







        </div>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
        	 <i class="fas fa-shopping-cart grey-text ml-3"></i>
          
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
         <i class="fas fa-heart grey-text  ml-3 "></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle class="grey-text"></mdb-icon>

            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->