<div class="container" >
	<br><br>

<mdb-breadcrumb>
  <mdb-breadcrumb-item class="blue-text"> <a [routerLink]="['/']" routerLinkActive="active"> Home</a></mdb-breadcrumb-item>
  <mdb-breadcrumb-item class="blue-text">Acessories</mdb-breadcrumb-item>

  <mdb-breadcrumb-item class="active">Audio Mi Earphones (with in-built mic) Black</mdb-breadcrumb-item>

  
</mdb-breadcrumb>





</div>


<br>

<div class="container-fluid">
<div class="container">
	<div class="row">

		<div class="col-lg-6">

			  <div class="view overlay zoom">
  <img src="assets/pms_1536382085.28759485.jpg" class="img-fluid " alt="zoom">
  <div class="mask flex-center waves-effect waves-light">
    <p class="white-text"></p>
  </div>
</div>

			

			
		</div>

		<div class="col-lg-6">

			<h1 class="page-title">
        <span class="base" data-ui-id="page-title-wrapper" itemprop="name">Fusion Backpack</span>    </h1>

          <a [routerLink]="['/item/123']" routerLinkActive="active"> 3  Reviews
               
              </a> &nbsp;&nbsp;&nbsp;&nbsp; <a [routerLink]="['/item/123']" routerLinkActive="active"> Add Your Review              
              </a>


              <h1> ₹ 87049</h1> <span>In stock</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong class="type">SKU# : </strong>  <strong class="type"> 24-MB02</strong>
              <hr>

              <div class="box-tocart">
    <div class="fieldset">
                <div class="field qty">
            <label class="label" for="qty"><span>Qty</span></label>
            <div class="control">
                <input type="number" name="qty" id="qty" value="1" title="Qty" class="input-text qty" data-validate="{&quot;required-number&quot;:true,&quot;validate-item-quantity&quot;:{&quot;minAllowed&quot;:1}}">
            </div>
        </div>
                <div class="actions">
           <br>

            <button _ngcontent-c13="" class="btn btn-primary">Add to Cart</button>
            
<div id="instant-purchase" data-bind="scope:'instant-purchase'">
    <!-- ko template: getTemplate() -->
<!-- ko if: showButton() --><!-- /ko -->
<!-- /ko -->
</div>



        </div>
    </div>
</div>

<br><br><br>
             
    





        
		</div>

		
		

	</div>

	<br><br><br>

	<div _ngcontent-c13="" class="product-detail"><h5 _ngcontent-c13="" class="product-head">Product Details</h5><table _ngcontent-c13="" class="table" style="max-height: 28px" cellspacing="0"><tbody _ngcontent-c13=""><tr _ngcontent-c13=""><th _ngcontent-c13="" scope="row">Product Name</th><td _ngcontent-c13="">Apple iPhone X 64,GB </td></tr><tr _ngcontent-c13=""><th _ngcontent-c13="" scope="row">Product Description</th><td _ngcontent-c13="">The iPhone X models have a 5.8" (diagonal) widescreen LED-backlit True Tone, wide color (P3) "Super Retina" with 3D Touch and a 2436x1125 native resolution at 458 ppi</td></tr><tr _ngcontent-c13=""><th _ngcontent-c13="" scope="row">Product Category</th><td _ngcontent-c13="">Smartphone</td></tr><tr _ngcontent-c13=""><th _ngcontent-c13="" scope="row">No. of quantity available</th><td _ngcontent-c13="">5</td></tr><tr _ngcontent-c13=""><th _ngcontent-c13="" scope="row">Product Added on</th><td _ngcontent-c13="">Dec 26, 2017</td></tr></tbody></table></div>
</div>
</div>